@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body {
    background-color: #ddd;
    margin: 100%;
}

header h1 {
    font-size: 5rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    font-size: 3em !important;
}

.logo {
    width:10%;
    margin-bottom: 1rem;
}

.nav-link {
    text-align: center !important;
}

button.navbar-toggler {
    background-color: white;
    color: white;
}

nav div {
    font-size: 1.2em;
    margin-top: 0rem;
    background-color: black;

}

nav div a {
    color: white !important;
    margin-left: 2rem;
}

.navbar-brand {
    font-size: 1.2em !important;
}

.nav-item :hover {
    background-color: rgba(50, 94, 131, 0.705);
}

#nav-itemp {
    background-color: red !important;
}

nav {
    position: sticky !important;
    top: 0.51rem !important;
    z-index: 500;
    position: relative;
}

.container-fluid {
    margin: -1rem;
}

.btn-whatsapp {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 4rem;
    right: 4rem;
    color: #20df36;
    text-align: center;
    z-index: 350;
}

.fa-whatsapp {
    font-size: 6rem;
}

.btn-whatsapp :hover {
    color: #20df36b9;
}

footer {
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 1.5rem 8%;
    bottom: 0;
    left: 0;
    right: 0;
}

.info {
    color: antiquewhite;
}

.centro {
    margin: auto;
}

form {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
    margin: auto;
    background: linear-gradient(45deg, rgb(150, 23, 23), rgb(211, 83, 40));
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    color: white;
    width: 40rem;
    max-width: 90%;
    text-align: center;
    position: relative;
    overflow: hidden;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 26px;
    letter-spacing: 1px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease-in-out;
    font-family: 'Quicksand', sans-serif;
}

.form-group input:focus,
.form-group textarea:focus {
    background-color: rgba(255, 255, 255, 0.9);
}

.form-group button {
    background: linear-gradient(45deg, #ffe852, rgb(226, 136, 2));
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

.form-group button:hover {
    background: linear-gradient(45deg, #a1ee62, #4bff33);
}

.decoration {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }
}
@media (min-width: 300px) and (max-width: 450px) {

    header h1 {
        font-size: 2rem !important;
    }

}

@media (min-width: 300px) and (max-width: 450px) {
    footer {
        font-size: 0.5rem;
    }
.logo {
        margin-top: 0.65rem;
    }
    .nav-link {
        font-size: 0.7rem !important;
    }

}
