@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

header {
    background-color: #eee;
    position: relative;
    word-wrap: break-word;
}

header h1 {
    font-size: 5rem;
    color: rgb(3, 3, 3);
    text-align: center;
}

h1 {
    font-size: 3em !important;
}

.logo {
    width: 10%;
    height: 10%;
    margin-bottom: 1rem;
}

.nav-link {
    text-align: center !important;
}

button.navbar-toggler {
    background-color: white;
    color: white;
}

nav div {
    position: sticky !important;
    top: 0 !important;
    font-size: 1.2em;
    margin-top: 0rem;
    background-color: rgb(0, 0, 0);

}

nav div a {
    color: white !important;
    margin-left: 2rem;
}

.navbar-brand {
    font-size: 1.2em;
}

.nav-item :hover {
    background-color: rgba(50, 94, 131, 0.705);
}

#nav-itemp {
    background-color: red !important;
}

nav {
    z-index: 900;
    position: sticky !important;
    top: 0.51rem !important;
    position: relative;
}

.container-fluid {
    position: sticky;
    display: flex;
    top: 0;
    margin: -1rem;
}

aside {
    width: 100%;
}

.imgGym {
    width: 95%;
    margin-top: 1rem;
    margin-right: 2rem;
}


article p {
    margin: 0.5rem;
    padding: 1rem;
    padding-top: 1rem;
    margin-bottom: 2.5rem;
    font-family: 'Sen', sans-serif;
    font-size: 1.3em;
}

.titulo {
    color: rgb(255, 72, 72);
    font-family: 'Sen', sans-serif;
    text-align: center;
    margin-top: 2rem;
    font-size: 3em;
}

.btn-whatsapp {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 4rem;
    right: 4rem;
    color: #20df36;
    text-align: center;
    z-index: 350;
}

.fa-whatsapp {
    font-size: 6rem;
}

.btn-whatsapp :hover {
    color: #20df36b9;
}

#map {
    width: 93%;
    height: 350px;
    margin: 1.5rem;
    margin-top: -1.5rem;
}

footer {
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 1.5rem 8%;
    bottom: 0;
    left: 0;
    right: 0;
}


.info {
    color: antiquewhite;
}

iframe {
    height: 15rem;
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2rem;
    margin: -2.5rem 0 1.9rem;
}

.contenido {
    width: 95%;
    margin: 0.1;
}

.imgGym2 {
    width: 0;
}

@media (min-width: 300px) and (max-width: 410px) {

    .titulo {
        font-size: 2rem;
    }

    header h1 {
        font-size: 1.7rem !important;
    }

    .logo {
        margin-top: 0.65rem;
    }

    article p {
        text-align: justify;
        margin-top: -1rem;
        font-size: 0.7rem;
    }

    .imgGym {
        width: 0;
    }

    .imgGym2 {
        width: 40%;
        float: right;
        margin-left: 0.6rem;

    }

    .titulo-principal {
        font-size: 1.2rem;
        margin-top: -3.5rem;
    }

    #map {
        width: 93%;
        margin-left: 0.8rem;
        margin-right: 0.2rem;
        height: 150px;
        margin-bottom: 0.8rem;
    }

    footer {
        font-size: 0.5rem;
    }

    header h1 {
        font-size: 1.7rem;
    }

    .logo {
        margin-top: 0.65rem;
    }

    .nav-link {
        font-size: 0.7rem !important;
    }

}
